{% extends "./plantilla.html" %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3>Nuevo Genero</h3>
        <form action="{% url 'guardarGenero' %}" 
        enctype="multipart/form-data"
        id="frm_nuevo_genero"
        method="post">
            {% csrf_token %}
            <label for=""><b>Nombre</b></label>
            <input type="text" name="nombre" class="form-control"
            id="nombre" placeholder="Ingrese el nombre del genero">
            <br>
            <label for=""><b>Descripcion</b></label>
            <textarea name="descripcion" id="descripcion"
                class="form-control" rows="3"
                placeholder="Ingrese la descripcion"
                ></textarea>
                <br>
                <label for=""><b>Fotografia</b></label>
                <input type="file" name="foto" id="foto"
                accept="image/*"
                required class="form-control">
                <br>
                <button type="submit" class="btn btn-primary">Guardar</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'listadoGeneros' %}">Cancelar</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </form>
    </div>
</div>
<br><br><br><br><br>
<script>
    $("#frm_nuevo_genero").validate({
        rules:{
            nombre:{
                required: true,
                minlength:3,
                maxlength:10
            },
            descripcion:{
                required: true
            },
            foto:{
                required: true
            }
        },
        messages:{
            nombre:{
                required: "Por favor ingrese el nombre del genero",
                minlength: "El nombre del genero debe tener al menos 3 caracteres",
                maxlength: "El nombre del genero debe tener como máximo 10 caracteres"
            },
            descripcion:{
                required: "Por favor ingrese la descripcion del genero"
            },
            foto:{
                required: "Por favor seleccione una fotografia"
            }

        }
    });
</script>
<script>
    $(document).ready(function() {
        $("#foto").fileinput({                       
            showBrowse: true,
            browseOnZoneClick: true            
        });
    });
    </script>


{% endblock %}